<div class="container">
	<div class="logo">{{ title }}</div>
    <div class="add-todo">
      <form [formGroup]="addTodoForm" (ngSubmit)="selectedID == null ? addTodo() : updateTodo(selectedID)">
		<div class="add">
			<input formControlName="todo" type="text"  placeholder="{{ selectedID == null ? 'Add Todo here' : 'Update Todo here'}}">
			<input type="submit" value="{{ selectedID == null ? 'Add' : 'Update'}}">
		</div>
      </form>
    </div>
    <div class="list-todo">
		<h3>Added Todos:</h3>
		<ul class="todos">
			<li *ngFor="let todo of todos" (click)="selectTodo(todo._id, todo.name)" [ngClass]="{'selected' : selectedID == todo._id}">
				{{ todo.name }}
				<span class="delete" (click)="deleteTodo(todo._id)">X</span>
			</li>
		</ul>
    </div>
</div>